@using Coldairarrow.Entity.warehouse;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (wms_languages)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>
            
            <tr>
                <th>关键字</th>
                <td>
                    <input name="code" value="@obj.code" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>中文</th>
                <td>
                    <input name="name" value="@obj.name" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>译文</th>
                <td>
                    <input name="translation" value="@obj.translation" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>语种：cn、en</th>
                <td>
                    <input name="languages_type" value="@obj.languages_type" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>使用类型：1后端,2前端</th>
                <td>
                    <input name="use_type" value="@obj.use_type" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
        </tbody>
    </table>
</form>

@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}

<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'warehouse/wms_languages/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogMsg('保存成功!');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
