@using Coldairarrow.Entity.warehouse;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (wms_user_menu)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>
            
            <tr>
                <th>系统</th>
                <td>
                    <input name="us_id" value="@obj.us_id" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>系统代码</th>
                <td>
                    <input name="um_system" value="@obj.um_system" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>代码</th>
                <td>
                    <input name="um_code" value="@obj.um_code" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>0为顶级</th>
                <td>
                    <input name="parent_id" value="@obj.parent_id" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>用户菜单名称</th>
                <td>
                    <input name="um_title" value="@obj.um_title" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>菜单英文名称</th>
                <td>
                    <input name="um_title_en" value="@obj.um_title_en" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>菜单俄文名称</th>
                <td>
                    <input name="um_title_ru" value="@obj.um_title_ru" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>泰文</th>
                <td>
                    <input name="um_title_th" value="@obj.um_title_th" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>URL</th>
                <td>
                    <input name="um_url" value="@obj.um_url" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>样式</th>
                <td>
                    <input name="um_css" value="@obj.um_css" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>um_color</th>
                <td>
                    <input name="um_color" value="@obj.um_color" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>排序</th>
                <td>
                    <input name="um_sort" value="@obj.um_sort" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>0</th>
                <td>
                    <input name="um_type" value="@obj.um_type" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
        </tbody>
    </table>
</form>

@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}

<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'warehouse/wms_user_menu/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogMsg('保存成功!');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
